[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ragelib = {git = "https://callumiandam@code.citrite.net/scm/~callumiandam/ragelib.git", editable = true}


[dev-packages]

